<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="none">
  <test name="Test">
    <classes>
      <class name="Runner.DummyTest"/>
      <class name="Runner.ExecutionListener"/>
      <class name="galka.streletskaya.myProject.TestSuite"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
